@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");
body {
    font-family: "Bitcount Single", system-ui;
    background-color: lightpink;
    text-align: center;
}
h1 {
    color: blue
}
h2 {
    color :#a7681a
    background-color: c lightcyan;
}

div{
    background-color: rgb(230, 49, 106);
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
}
li{
    margin: 0px 600px;
}
.neige {
    color: white;
    background-color: blanchedalmond;
}
.sushis {
    color : orange;
    background-color: black;
}